export(ascendant,blocklines,blocksFilter,classrule1,classrule2,colexp_FOR,
       colexp_IF,colorexpand,Dlevelclass,findchilds,findMultiblocks,getLines,listRfiles,
       missingseq,remainclassify,Slevelclass,SRBidentify,summaryToHTML,
       descendant,coverageClassifier,createEx,profileClassifier,linesFilter,toHTML.lineClassifier,
       selfprofileClassifier
       )